:80 {
    # Development
    reverse_proxy ui:4200
    
    # Production
    # root * /usr/share/caddy
    # try_files {path} /index.html
    # file_server

    # handle /ms/* {
    #     reverse_proxy spring-server:8080
    # }
}